.container {
  padding: 0 45px 45px 45px;
  width: 100%;
  min-width: 600px;

  .task-number {
    text-align: right;
    font-size: 30px;
    margin-top: 0px;
  }

  .inbox-header {
    padding-left: 20px;

    .inbox-header-font {
      display: inline-flex;
      vertical-align: middle;
    }
  }
}
