<div class="container" fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">

  <mat-card class="forgot-password-card center">
    <mat-progress-bar *ngIf="loading" class="card-loading-bar" mode="indeterminate"></mat-progress-bar>
    <mat-card-content>
      <h3 class="forgot-password-title">FORGOT PASSWORD</h3>
      <p class="font-grey">Please enter your email.<br><br>A link will be emailed to this address which will let you
        reset your password.</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmitted()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" autocomplete="off" required>
          <mat-error *ngIf="forgotPasswordForm.get('email').errors && forgotPasswordForm.get('email').dirty">
            Please enter a valid email address
          </mat-error>
          <mat-error
            *ngIf="!forgotPasswordForm.get('email').value && forgotPasswordForm.get('email').touched && !forgotPasswordForm.get('email').dirty">
            Email is required
          </mat-error>
        </mat-form-field>

        <div class="response-holder">
          <span class="response-error" *ngIf="errorResponse">{{errorResponse.message}}</span>
          <span class="response-success" *ngIf="successResponse">{{successResponse.message}}</span>
        </div>

        <div class="submit-button-div">
          <button mat-raised-button type="submit" color="primary"
            [disabled]="forgotPasswordForm.invalid">SUBMIT</button>
        </div>
      </form>

      <a class="back-to-sign-in-link cursor-pointer" routerLink="/sign-in" routerLinkActive="active">Back to Sign In</a>
    </mat-card-content>
  </mat-card>

  <div class="license-sna">
    <p>Licensed by Saniza & Associates<br>Powered by Syntronic Malaysia Sdn Bhd</p>
  </div>

</div>