.container {
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  height: 100vh;

  .forgot-password-card {
    min-width: 250px;
    width: 270px;
    padding: 50px;

    .card-loading-bar {
      position: absolute !important;
      margin: -50px;
    }

    .forgot-password-title {
      color: #5988d9;
      font-weight: normal;
      letter-spacing: 1px;
      // margin-top: 0px;
      padding-bottom: 15px;
    }

    .form-field {
      width: 100%;
    }

    .submit-button-div {
      padding: 30px 0 10px 0;
    }

    .back-to-sign-in-link {
      text-decoration: none;
      color: #616161;
      opacity: 0.5;
    }

    .response-holder {
      height: 10px;

      .response-error {
        color: red;
      }

      .response-success {
        color: blue;
      }
    }
  }

  .license-sna {
    color: #fff;
    text-align: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .forgot-password-card {
    min-width: 200px !important;
    width: 215px !important;
  }
}
