<h1 mat-dialog-title>{{dialogType}} Asset & Hire Purchase</h1>
<div mat-dialog-content>

  <form [formGroup]="addAssetHirePurchaseFormGroup" (ngSubmit)="onBtnClicked()">
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxFlex>
        <mat-form-field fxFill>
          <input matInput placeholder="Asset Name" formControlName="assetName" [value]="assetValue" required>
          <mat-error *ngIf="addAssetHirePurchaseFormGroup.controls['assetName'].hasError('required')">Asset Name is required.</mat-error>
        </mat-form-field>
        <span class="error-msg" *ngIf="errorMessage">{{errorMessage.message}}</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
        <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
        <button mat-raised-button type="submit" color="primary" [disabled]="!addAssetHirePurchaseFormGroup.valid">{{dialogType}}</button>
      </div>
    </div>
  </form>

</div>
