<div class="container" fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">

  <mat-card class="forgot-password-card center">
    <mat-progress-bar *ngIf="loading" class="card-loading-bar" mode="indeterminate"></mat-progress-bar>
    <mat-card-content>
      <h3 class="forgot-password-font">RESET PASSWORD</h3>
      <p class="font-grey">Please enter your new password.</p>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmitted()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>New password</mat-label>
          <input matInput type="password" placeholder="New password" formControlName="password" minlength="5" required>
          <mat-error *ngIf="resetPasswordForm.get('password').errors && !resetPasswordForm.get('password').value">
            Please enter your new password.
          </mat-error>
          <mat-error
            *ngIf="resetPasswordForm.get('password').value.length < 6 && resetPasswordForm.get('password').value">
            Your password need to be at least 6 characters long.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" minlength="5"
            required>
          <mat-error *ngIf="!resetPasswordForm.get('confirmPassword').value">
            Please enter your confirm password.
          </mat-error>
          <mat-error
            *ngIf="resetPasswordForm.get('password').value !== resetPasswordForm.get('confirmPassword').value && resetPasswordForm.get('confirmPassword').value">
            Passwords does not matched.
          </mat-error>
        </mat-form-field>

        <div class="response-holder">
          <span class="response-error" *ngIf="errorResponse">{{errorResponse.message}}</span>
          <span class="response-success" *ngIf="successResponse">{{successResponse.message}}</span>
        </div>

        <div class="forgot-password-div">
          <button mat-raised-button type="submit" color="primary"
            [disabled]="!resetPasswordForm.valid && resetPasswordForm.get('confirmPassword').errors">SUBMIT</button>
        </div>
      </form>

      <a class="back-to-sign-in-link cursor-pointer" routerLink="/sign-in" routerLinkActive="active">Back to Sign In</a>
    </mat-card-content>
  </mat-card>


  <div class="license-sna">
    <p>Licensed by Saniza & Associates<br>Powered by Syntronic Malaysia Sdn Bhd</p>
  </div>

</div>