.user-list-container {
  padding: 0 45px 45px 45px;
  width: 100%;
  min-width: 600px;

  .user-list-table {
    width: 100%;
    min-width: 600px;
  }

  .user-list-table-pagination {
    width: 100%;
    min-width: 600px;
  }
}
